<%= turbo_frame_tag dom_id(discussion) do %>
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <h4><%= discussion.name %></h4>
      <span class="text-mute fs-6">
        <% if discussion.pinned %>
          <span class="badge rounded-pill bg-info">Pinned</span>
        <% end %>

        <% if discussion.closed %>
          <span class="badge rounded-pill text-danger">Closed</span>
        <% end %>
      </span>
    </div>
    <div>
      <%= link_to "Edit", edit_discussion_path(discussion) %> |
      <%= link_to "Remove", discussion, method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  </div>
<% end %>
